# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/node_modules

# next.js
/.next/
/frontend/.next/
/out/

# production
/build
/frontend/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# env files
.env*
/frontend/.env*

# vercel
.vercel
/frontend/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# datasets
/backend/datasets/case_db.json
/backend/datasets/precomputed_embeddings.npz